$headers-font: 'Montsserat', sans-serif
$text: 'Open Sans', sans-serif
$text-additional: 'Open Sans Condensed', sans-serif

$dark-grey: #3e3f40
$dark-blue: #14232a
$light-grey: #e2e2e4
$light: #eee
$light-blue: #6363b9

$white: #fff
$black: #000

$cadetblue: #5f9ea0
$light-cadetblue: #afcecf

$red-dark: #E74C3C  
$red-light: #F1948A
$green-dark: #239B56
$green-light: #52BE80